.testimonial {
  background-color: azure;
  /* background-color: #e6f2ff; */
}

.testimonial-card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.testimonial h1 {
  font-family: "Righteous", cursive;
  color: black;
}

.icon-color {
  color: gold;
}
.review-bg {
  background-color: #e6f2ff;
}
